<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CONTACT LIST</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<body>



<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Photo</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contact of data | paginate: {id: 'listing_pagination',
      itemsPerPage: 10,
      currentPage: page,
      totalItems: totalRecords }">

    <td>{{contact.name}}</td>
    <td>
      <img src="{{contact.url.trim()}}" alt="">
    </td>
  </tr>
  </tbody>
</table>
<div>
  <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
</div>
</body>
</html>
